<head>
  <link rel="stylesheet" href="/css/buttons/btns-form.css">
  <link rel="stylesheet" href="/css/pages/desktop/home/section-planos.css">
  <link rel="stylesheet" href="/css/pages/responsivo/home/resp-section-planos.css">

  <script src="/css/partials/modal/modal.js" defer></script>
</head>


<div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
  <h1>Planos <span>AND BARBERSHOP</span></h1>
</div><!--txt-topo-site-->

<div class="container efeito-cont-plano">
  <ul>
    <% planos.forEach((plano)=> { %>
      <li class="card efeito-card-plano-<%= plano.id_plano %>">
        <div class="content">

          <h2>0<%= plano.id_plano %></h2>
          <h3><%= plano.nome_plano %></h3>

          <p class="text">Descrição:&nbsp;<span><%= plano.descricao %>.</span></p>
          <p class="preco"><i class="bi bi-cash-stack"></i>&nbsp;<span>R$</span><%= plano.preco %></p>

          <div class="btn-container">
            <button id="abre-modal"
              data-id="0<%= plano.id_plano %>" 
              data-nome="<%= plano.nome_plano %>" 
              data-descricao="<%= plano.descricao %>" 
              data-preco="<%= plano.preco %>"
              class="btn-infos">
              <i class="bi bi-info-circle"></i>Mais informações
            </button>
          </div>
        </div><!--content-->
      </li><!--card-->
      <% }); %>
        <%- include ("../partials/modal/modal-planos.ejs") %>
</div><!--container-->
</ul>


<script src="/css/partials/cards/vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 0.3,
  });
</script>