<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

  <link rel="stylesheet" href="/css/pages/desktop/index.css">
  <link rel="stylesheet" href="/css/animations/animations-txt.css">
  <link rel="stylesheet" href="/css/buttons/btns-home.css">
  <link rel="stylesheet" href="/css/buttons/btns-form.css">
  <link rel="stylesheet" href="/css/pages/desktop/ver-planos.css">
  <link rel="stylesheet" href="/css/pages/responsivo/resp-ver-planos.css">

  <script src="/css/partials/header/menu-mobile.js" defer></script>
  <title>Planos e Assinaturas - And Barbershop</title>
</head>

<body>
  <%- include ("../partials/header-user.ejs") %> <!--IMPORTAR HEADER DPS---->
    <main>

      <section class="ver-planos">
        <div class="interface">
          <div class="flex">
          

            <div class="txt-topo-site"><!--ARRUMAR RESPONSIVO-->
              <h1>Planos <span>AND BARBERSHOP</span></h1>
            </div><!--txt-topo-site-->

            <div class="container">
              <ul>
              <% planos.forEach((plano)=> { %>
                <li class="card">
                <div class="content">
                  
                    <h2>0<%= plano.id_plano %></h2>
                    <h3><%= plano.nome_plano %></h3>

                    <p class="text">Descrição:&nbsp;<span><%= plano.descricao %>.</span></p>
                    <p class="preco"><i class="bi bi-cash-coin"></i>&nbsp;<span>R$</span><%= plano.preco %></p> 

                    <div class="btn-container">
                      <form href="/comprar/<%= plano.id_plano %>" method="post">
                        <button class="btn-compra"><i class="bi bi-whatsapp"></i>Assinar Agora</button>
                      </form>
                    </div>
                </div><!--content-->
                </li><!--card-->
              <% }); %>
            </div><!--container-->
            </ul>

          </div><!--flex-->
        </div><!--interface-->
      </section>

      <%- include ("../partials/footer.ejs") %>
    </main>

    <script src="/css/partials/header/header.js"></script>
    <script src="/css/partials/cards/vanilla-tilt.js"></script>
    <script>
      VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 25,
        speed: 400,
        glare: true,
        "max-glare": 0.3,
      });
    </script>
</body>
</html>