<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

    <link rel="stylesheet" href="/css/pages/desktop/index.css">
    <link rel="stylesheet" href="/css/animations/animations-txt.css">
    <link rel="stylesheet" href="/css/animations/animations-img.css">
    <link rel="stylesheet" href="/css/buttons/btns-form.css">
    <link rel="stylesheet" href="/css/pages/desktop/escolha-servico.css">
    <link rel="stylesheet" href="/css/pages/responsivo/resp-escolhe-servico.css">  
    
    <script src="/css/partials/header/menu-mobile.js" defer></script>
    <title>Selecione um Serviço - And Barbershop</title>
</head>

<body>
    <%- include ("../partials/header-user.ejs") %>
        <main>

          <section class="fundo-section">
            <div class="interface">
              <div class="flex">

                    <div class="container">

                      <div class="text-img">
                        <a class="title">ESCOLHA UM<br>
                            <a class="subtitle">SERVIÇO</a>
                            <img class="img-icon" src="../css/imgs/elementos/bigode-servico.png" alt="icon1">
                    </div>

                    <div class="lista-servico">
                      <% servicos.forEach((servico)=> { %>

                      <div class="element">
                          <a class="titulo-servico" value="<%= servico.id %>"><%= servico.nome %></a>
                          <a class="preco-servico">Preço:&nbsp;<span>R$<%= servico.preco %></span></a>
                          <a class="duracao-servico">Duração:&nbsp;<span><%= servico.tempo%>min</span></a> <!--DURAÇÃO DO SERVIÇO (FALTA NO BANCO)-->

                          <div class="btn-element">
                            <a href="reserveagora/<%= servico.id %>">
                                <button class="btn-select">Selecionar
                                </button></a>
                          </div>
                      </div>
                    
                    <!--<form href="reserveagora/<%= servico.id %>">
                      <input type="hidden" name="id"/>
                      <button class="btn btn-danger" onclick="window.localStorage.setItem('servico_selecionado','<%= servico.id %>')">Selecione Serviço</button>
                    </form>-->
                  
                    <% }); %>
                  </div><!--lista-servico-->

                </div><!--container-->

            </div><!--flex-->
        </div><!--interface-->
    </section>

<%- include ("../partials/footer.ejs") %>
</main>

<script src="/css/partials/header/header.js"></script>

</body>
</html>