<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

  <link rel="stylesheet" href="/css/pages/desktop/index.css">
  <link rel="stylesheet" href="/css/animations/animations-txt.css">
  <link rel="stylesheet" href="/css/buttons/btns-home.css">
  <link rel="stylesheet" href="/css/buttons/btn-list.css">
  <link rel="stylesheet" href="/css/pages/desktop/historico-agendamentos.css">
  <link rel="stylesheet" href="/css/pages/responsivo/resp-historico-agendamentos.css">
  <link rel="stylesheet" href="/css/partials/modal/modal-excluir.css">
  <link rel="stylesheet" href="/css/partials/modal/modal-confirmacao.css">

  <script src="/css/partials/header/menu-mobile.js" defer></script>
  <script src="/css/partials/modal/modal.js" defer></script>
  
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="/css/partials/reveal/reveal.js" defer></script>
  <title>Meus Agendamentos - And Barbershop</title>
</head>

<body>
  <%- include ("../partials/header-user.ejs") %> <!--IMPORTAR HEADER DPS---->
    <main>

      <section class="ver-agendamentos">
        <div class="interface">
          <div class="flex">

            <div class="txt-topo-site efeito-frase-agendamentos"><!--ARRUMAR RESPONSIVO-->
              <h1>Meus Agendamentos</h1>
            </div><!--txt-topo-site-->

            <div class="container efeito-container-agendamentos">
              <ul>
                <% if(agendamentos.length==0){ %>
                  <li class="li-aviso efeito-card-plano1">
                    <div class="aviso">
                      <h1>Você ainda não possui agendamento(s).</h1>
                      <div class="btn-agendar efeito-btn-form" style="display: flex; flex-direction: column; align-items: center;">
                        <a href="/agendamentos">
                          <button class="btn-agendar-agora">AGENDAR AGORA</button>
                        </a>
                      </div><!--btn-agendar-->
                    </div>
                  </li>

                  <% } else { agendamentos.forEach(agendamento=> {
                    %>

                    <% const dataAtual=new Date(); const dataAgendamento=new
                      Date(agendamento.agenda_data + ' ' + agendamento.agenda_hora); const dataFim=new
                      Date(agendamento.agenda_data + ' ' + agendamento.agenda_hora_fim); %>

                      <li class="efeito-card-agendamento-<%= agendamento.agendamento_id %>">
                        <div class="coluna info">
                          <a class="title-agendamento">Serviço: &nbsp;<span>
                              <%= agendamento.servico_nome %>
                            </span></a>
                          <a class="preco-agendamento"><i class="bi bi-cash-coin"></i>R$<span>
                              <%= agendamento.servico_preco %>
                            </span></a>
                          <a class="barbeiro-agendamento">Realizado por: &nbsp;<span>
                              <%= agendamento.barbeiro_nome %>
                            </span></a>

                          <div class="dia-hora">
                            <a><i class="bi bi-calendar-week"></i>Data: &nbsp;<span>
                                <%= agendamento.agenda_data %>
                              </span></a>
                            <a><i class="bi bi-clock"></i>Horário: &nbsp;<span>
                                <%= agendamento.agenda_hora %>
                              </span></a>
                          </div>
                        </div>

                        <% let statusTexto='' ; if (agendamento.agendamento_status===3) { statusTexto='Cancelado' ; }
                          else if (agendamento.agendamento_status===2) { statusTexto='Finalizado' ; } else {
                          statusTexto='Agendado' ; } %>

                          <div class="coluna">
                            <a class="status">Status</a>
                            <a class="txt <%= statusTexto.toLowerCase() %>">
                              <% if (statusTexto==='Cancelado' ) { %>
                                <i class="bi bi-x-circle-fill" style="color: red;"></i>
                                <% } else if (statusTexto==='Finalizado' ) { %>
                                  <i class="bi bi-check-circle" style="color: #4ed05f;"></i>
                                  <% } else { %>
                                    <i class="bi bi-calendar2-check-fill" style="color: #d0804e"></i>
                                    <% } %>
                                      <%= statusTexto %>
                            </a>
                          </div>

                          <div class="coluna">
                            <a class="action">Ações</a>
                            <div class="btns-container">

                              <% if (statusTexto !=='Cancelado' && statusTexto !=='Finalizado' ) { %>
                                <button id="abre-modal-<%= agendamento.agendamento_id %>" class="btn-deletar"
                                  style="font-size: 10px;">
                                  Cancelar</button>

                                <% } else { %>
                                  <a><i class="bi bi-ban"></i>Sem ações disponíveis</a>
                                  <% } %>
                            </div><!--btns-container-->
                          </div><!--coluna-->

                          <dialog id="modal-<%= agendamento.agendamento_id %>">
                            <div class="content">
                              <form action="/agendamentos/<%= agendamento.agendamento_id %>/cancelar" method="POST">
                                <h1>Essa ação tem um resultado irreversível. Tem certeza que deseja CANCELAR seu AGENDAMENTO?</h1>
                                
                                <div class="btn-container">
                                <button type="submit" class="btn-deletar" style="padding: 5px 8%; width: auto;">Sim, Cancelar!</button>
                              </form>
                              <button type="button" class="btn" id="btn-fecha-modal"
                                onclick="document.getElementById('modal-<%= agendamento.agendamento_id %>').close();"
                                style="width: 120px;">Cancelar</button>
                              </div>
                            </div>
                          </dialog>
                      </li>
                      <script>
                        document.getElementById("abre-modal-<%= agendamento.agendamento_id %>").addEventListener("click", function () {
                          document.getElementById("modal-<%= agendamento.agendamento_id %>").showModal();
                        });
                      </script>
                      <% }) %>
                        <% } %>


            </div><!--container-->
            </ul>

          </div><!--interface-->
        </div><!--flex-->

        <dialog id="confirmationModal" class="modal-confirmacao">
          <div class="content">
            <h1 id="modalText" class="efeito-frase-agendamentos">Processando seu agendamento...</h1>

            <div class="spinner-container">
              <span class="spinner"></span>
            </div>
            <div id="checkIcon" style="display: none; font-size: 30px; color: #4ed05f;">
              <i class="bi bi-check-circle"></i> <!-- Ícone de check -->
            </div>
          </div>
        </dialog>
        
        <script>
          window.onload = () => {
            const params = new URLSearchParams(window.location.search);
            if (params.get('confirmado') === 'true') {
              const modal = document.getElementById('confirmationModal');
              const modalText = document.getElementById('modalText');
              const spinnerContainer = modal.querySelector('.spinner-container');
              const checkIcon = document.getElementById('checkIcon'); // Referência para o ícone de check
              
              // Abrir o modal
              modal.showModal();
        
              // Iniciar o carregamento
              setTimeout(() => {
                // Fade out do texto atual
                modalText.style.opacity = '0';
        
                // Esperar o fade out terminar para mudar o texto
                setTimeout(() => {
                  modalText.textContent = "Estamos quase lá..."; // Alterar o texto
                  modalText.style.opacity = '1'; // Fade in do novo texto
                }, 500); // O tempo de espera deve ser o mesmo que a duração da transição de opacidade
              }, 1500);
        
              setTimeout(() => {
                // Fade out do texto atual
                modalText.style.opacity = '0';
        
                // Esperar o fade out terminar para mudar o texto
                setTimeout(() => {
                  modalText.textContent = "Agendamento confirmado com sucesso!"; // Alterar o texto
                  modalText.style.opacity = '1'; // Fade in do novo texto
                  spinnerContainer.style.display = 'none'; // Esconder o spinner
        
                  // Adicionar a borda verde
                  modal.classList.add('borda-verde');
        
                  // Exibir o ícone de check
                  checkIcon.style.display = 'block'; // Mostrar o ícone
                }, 500); // O tempo de espera deve ser o mesmo que a duração da transição de opacidade
              }, 5000);
        
              // Fechar o modal após 5 segundos
              setTimeout(() => {
                modal.close();
              }, 8000);
        
              // Limpar a URL para remover o parâmetro 'confirmado=true'
              const cleanUrl = location.href.split('?')[0];
              window.history.replaceState(null, null, cleanUrl);
            }
          };
        </script>

      <%- include ("../partials/footer.ejs") %>
    </main>

    <script src="/css/partials/header/header.js"></script>

</body>

</html>