<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

    <link rel="stylesheet" href="/css/pages/desktop/index.css">
    <link rel="stylesheet" href="/css/animations/animations-txt.css">
    <link rel="stylesheet" href="/css/animations/animations-img.css">
    <link rel="stylesheet" href="/css/buttons/btns-form.css">
    <link rel="stylesheet" href="/css/buttons/btn-list.css">
    <link rel="stylesheet" href="/css/pages/desktop/minha-conta.css">
    <link rel="stylesheet" href="/css/pages/responsivo/resp-minha-conta.css">
    <link rel="stylesheet" href="/css/partials/modal/modal-excluir.css">

    <script src="/css/partials/header/menu-mobile.js" defer></script>
    <script src="/css/partials/modal/modal.js" defer></script>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/css/partials/reveal/reveal.js" defer></script>
    <title>Minha Conta - And Barbershop</title>
</head>

<body>
    <%- include ("../partials/menu-minhaconta.ejs") %>
        <main>

            <section class="fundo-section">
                <div class="interface">
                    <div class="flex">

                        <div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
                            <h1>Olá, <span>
                                    <%= cliente.nome %>
                                </span></h1>
                        </div><!--txt-topo-site-->

                        <div class="container efeito-container-minha-conta">

                            <div class="form-esquerda efeito-txt-img">

                                <form class="form" action="/update" method="POST" enctype="multipart/form-data">
                                    <div class="heading">Minha Foto</div>

                                    <% let currentImage=cliente.imagem ? '/uploads/' + cliente.imagem
                                        : '/css/imgs/elementos/nav-icon-user.png' ; %>
                                        <img id="preview" class="preview-img" src="<%= currentImage %>"
                                            alt="Foto do Cliente">
                                        
                                        <input class="input-image" autocomplete="off" type="file" id="imageInput"
                                        accept="image/*" name="image" onchange="previewImage()">
                                        <label class="upload-label" for="imageInput"><i
                                                class="bi bi-cloud-upload-fill"></i> Realizar
                                            Upload</label>

                            </div><!--form-esquerda-->

                            <div class="form-direita efeito-txt-img">
                                <hr>

                                <div class="heading">Minhas Informações</div><br>

                                <div class="input-field efeito-input1-form">
                                    <input autocomplete="off" type="text" name="nome" id="nome"
                                        value="<%= cliente.nome %>" />
                                    <label id="nomeLabel" for="nome">Nome</label>
                                </div>

                                <div class="input-field efeito-input1-form">
                                    <input autocomplete="off" type="text" name="sobrenome" id="sobrenome"
                                        value="<%= cliente.sobrenome %>" />
                                    <label id="sobrenomeLabel" for="sobrenome">Sobrenome</label>
                                </div>

                                <div class="input-field efeito-input2-form">
                                    <input required="" autocomplete="off" type="email" name="email" id="email"
                                        value="<%= cliente.email %>" />
                                    <label id="emailLabel" for="email">Email</label>
                                </div>

                                <div class="input-field efeito-input2-form">
                                    <input placeholder="Digite seu Número de Telefone" autocomplete="off" type="tel"
                                        maxlength="15" name="telefone" id="telefone" onkeyup="mascaraTel(event)"
                                        value="<%= cliente.telefone %>" />
                                    <label for="telefone">Telefone</label>
                                </div>

                                <div class="input-field efeito-input3-form">
                                    <input placeholder="Digite seu CPF" autocomplete="off" type="text" name="cpf"
                                        id="cpf" aria-describedby="cpf" value="<%= cliente.cpf %>"
                                        onblur="validarCPF()" />
                                    <label for="cpf">CPF</label>
                                    <div class="erro-msg" id="cpfErro"></div>
                                </div>

                                <div class="input-field efeito-input4-form">
                                    <input type="date" name="dataNasc" id="dataNasc"
                                        value="<%= cliente.dataNasc ? cliente.dataNasc.split('T')[0] : '' %>"
                                        onkeydown="return false;" />
                                    <label for="dataNasc">Data de Nascimento</label>
                                    <div class="erro-msg" id="dataNascErro"></div>
                                </div>


                                <div class="input-field efeito-input4-form">
                                    <input placeholder="Digite a nova Senha (deixe vazio para não alterar)"
                                        autocomplete="off" name="senha" id="senha" type="password" value="" />
                                    <label for="senha">Senha</label>
                                </div>

                                <div class="btn-container">

                                    <button class="btn" style="width: 120px; height: 40px;"
                                        onclick="return validarFormulario()">Atualizar</button>
                                    </form><!--class="form"-->

                                    <button id="abre-modal" class="btn-deletar"
                                        style="font-size: 15px; width: 180px; height: 40px;">
                                        Excluir Conta</button>

                                </div><!--btn-container-->

                            </div><!--form-direita-->

                            <dialog>
                                <div class="content">
                                    <form method="POST" action="/deletacliente">
                                        <h1>Essa ação tem um resultado irreversível. Tem certeza que deseja Excluir sua
                                            Conta?</h1>

                                        <input type="hidden" name="id_cliente" value="<%= cliente.id_cliente %>" />
                                        <div class="btn-container">
                                            <button type="submit" class="btn-deletar" style="padding: 5px 8%; width: auto;">
                                                Sim, Excluir Conta!</button>

                                    </form><!--deleta"-->

                                    <button type="button" class="btn" id="btn-fecha-modal"
                                        style="width: 120px;">Cancelar</button>
                                </div><!--btn-container-->
                        </div><!--content-->
                        </dialog>

                    </div><!--container-->

                </div><!--flex-->
                </div><!--interface-->

            </section>

            <%- include ("../partials/footer.ejs") %>
        </main>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                fetch("/get-login-status")
                    .then(response => response.json())
                    .then(data => {
                        if (data.isGoogleLogin) {
                            document.getElementById("nome").disabled = true;
                            document.getElementById("sobrenome").disabled = true;
                            document.getElementById("email").disabled = true;
                            document.getElementById("imageInput").disabled = true;
                        }
                    });
            });
            /*
.input-image {
    border: 2px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
}


.input-image.google-login {
    border: 2px solid #4CAF50;
    background-color: #e0ffe0; 
    pointer-events: none;
}

.preview-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.preview-img.google-login-preview {
    border: 2px solid #4CAF50;
    opacity: 0.6;
}*/
        </script>

        <script>
            const input = document.getElementById('imageInput');
            const label = document.querySelector('label[for="imageInput"]');

            if (input.disabled) {
                label.classList.add('disabled-label');
            } else {
                label.classList.remove('disabled-label');
            }
        </script>

        <script>

            function validarCPF() {
                const cpfInput = document.getElementById('cpf');
                const cpfErro = document.getElementById('cpfErro');
                let cpf = cpfInput.value.replace(/\D/g, '');


                if (cpf.length === 0) {
                    cpfErro.textContent = '';
                    cpfInput.classList.remove('input-erro');
                    return true;
                }

                if (cpf.length !== 11) {
                    cpfErro.textContent = 'CPF deve ter 11 dígitos.';
                    cpfInput.classList.add('input-erro');
                    return false;
                }

                function validarDigitosCPF(cpf) {
                    let soma = 0;
                    let resto;

                    for (let i = 1; i <= 9; i++) soma += parseInt(cpf.substring(i - 1, i)) * (11 - i);
                    resto = (soma * 10) % 11;
                    if (resto === 10 || resto === 11) resto = 0;
                    if (resto !== parseInt(cpf.substring(9, 10))) return false;

                    soma = 0;
                    for (let i = 1; i <= 10; i++) soma += parseInt(cpf.substring(i - 1, i)) * (12 - i);
                    resto = (soma * 10) % 11;
                    if (resto === 10 || resto === 11) resto = 0;
                    if (resto !== parseInt(cpf.substring(10, 11))) return false;

                    return true;
                }

                if (!validarDigitosCPF(cpf)) {
                    cpfErro.textContent = 'CPF inválido.';
                    cpfInput.classList.add('input-erro');
                    return false;
                } else {
                    cpfErro.textContent = '';
                    cpfInput.classList.remove('input-erro');
                    return true;
                }
            }

            function validarIdade() {
                const dataNascInput = document.getElementById('dataNasc');
                const dataNascErro = document.getElementById('dataNascErro');
                const dataNasc = new Date(dataNascInput.value);

                if (!dataNascInput.value) {
                    dataNascErro.textContent = '';
                    dataNascInput.classList.remove('input-erro');
                    return true;
                }

                if (isNaN(dataNasc)) {
                    dataNascErro.textContent = 'Data inválida. Por favor, use uma data válida.';
                    dataNascInput.classList.add('input-erro');
                    return false;
                }

                const hoje = new Date();

                let idade = hoje.getFullYear() - dataNasc.getFullYear();
                const mes = hoje.getMonth() - dataNasc.getMonth();

                if (mes < 0 || (mes === 0 && hoje.getDate() < dataNasc.getDate())) {
                    idade--;
                }

                if (idade < 18) {
                    dataNascErro.textContent = 'Você deve ter pelo menos 18 anos para se cadastrar.';
                    dataNascInput.classList.add('input-erro');
                    return false;
                } else {
                    dataNascErro.textContent = '';
                    dataNascInput.classList.remove('input-erro');
                    return true;
                }
            }


            document.getElementById('cpf').addEventListener('blur', function () {
                validarCPF();
            });

            document.getElementById('dataNasc').addEventListener('blur', function () {
                validarIdade();
            });

            function validarFormulario() {
                const cpfValido = validarCPF();
                const idadeValida = validarIdade();

                return cpfValido && idadeValida;
            }

        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
            integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            const mascaraTel = (event) => {
                let input = event.target
                input.value = phoneMask(input.value)
            }

            const phoneMask = (value) => {
                if (!value) return ""
                value = value.replace(/\D/g, '')
                value = value.replace(/(\d{2})(\d)/, "($1) $2")
                value = value.replace(/(\d)(\d{4})$/, "$1-$2")
                return value

                var tam = value.length;
            }

            $(document).ready(function () {
                $('#cpf').mask('999.999.999-99');
            });

        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const imageInput = document.getElementById('imageInput');
                const preview = document.getElementById('preview');

                imageInput.addEventListener('change', (e) => {
                    const file = e.target.files[0];

                    if (file && file.type.startsWith('image/')) {
                        const reader = new FileReader();

                        reader.onload = (e) => {
                            preview.src = e.target.result;
                            preview.style.display = 'block';
                        };

                        reader.readAsDataURL(file);
                    }
                });
            });
        </script>

        <script>
            let originalImage = '<%= cliente.imagem ? "/uploads/" + cliente.imagem : "/css/imgs/elementos/nav-icon-user.png"; %>';

            function previewImage() {
                const input = document.getElementById('imageInput');
                const preview = document.getElementById('preview');

                if (input.files && input.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    preview.src = originalImage;
                }
            }

            document.getElementById('imageInput').addEventListener('change', function () {
                const preview = document.getElementById('preview');
                if (!this.files.length) {
                    preview.src = originalImage;
                }
            });
        </script>

        <script src="/css/partials/header/header.js"></script>

</body>

</html>