<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

  <link rel="stylesheet" href="/css/pages/desktop/index.css">
  <link rel="stylesheet" href="/css/animations/animations-txt.css">
  <link rel="stylesheet" href="/css/animations/animations-img.css">
  <link rel="stylesheet" href="/css/buttons/btns-form.css">
  <link rel="stylesheet" href="/css/buttons/btn-list.css">
  <link rel="stylesheet" href="/css/pages/desktop/cadastro-barbeiro.css">
  <link rel="stylesheet" href="/css/pages/responsivo/resp-cadastro-barbeiro.css">
  <link rel="stylesheet" href="/css/partials/modal/modal-excluir.css">

  <script src="/css/partials/header/menu-mobile.js" defer></script>
  <script src="/css/partials/modal/modal.js" defer></script>
  
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="/css/partials/reveal/reveal.js" defer></script>
  <title>Minha Conta - And Barbershop</title>
</head>

<body>
  <%- include ("../partials/header-admin.ejs") %>
  <main>

    <section class="fundo-section">
      <div class="interface">
        <div class="flex">

          <div class="container efeito-container-form">

            <div class="form-esquerda">
              <div class="text-img efeito-txt-img">
                <a class="title" style="left: 26%; z-index: 22;">EDIÇÃO DE</a><br>
                <a class="subtitle">BARBEIRO</a>
                <img class="img-icon" src="/css/imgs/elementos/hand_tesoura2.png" alt="icon1">
              </div>

              <form class="form" action="/editarbarbeiro/<%= barbeiro.id_barber %>" method="POST">

                <div class="campos-cadastro">
                  
                  <div style="margin-top: 10%;" class="input-select efeito-input1-form">
                    <label for="tipo">Selecione o Tipo de Barbeiro:</label>
                      <select name="tipo" id="tipo" required style="min-width: 250px;">
                        <option value="1" <%= barbeiro.tipo===1 ? 'selected' : '' %>>Admin</option>
                        <option value="2" <%= barbeiro.tipo===2 ? 'selected' : '' %>>Barbeiro</option>
                      </select>
                  </div>

                  <div class="input-field" hidden>
                    <input required="" type="text" name="nome" id="nome" value="<%= barbeiro.nome %>" />
                    <label for="nome">Nome</label>
                  </div>
  
                  <div class="input-field" hidden>
                    <input required="" type="text" name="sobrenome" id="sobrenome" value="<%= barbeiro.sobrenome %>" />
                    <label for="sobrenome">Sobrenome</label>
                  </div>
  
                  <div class="input-field" hidden>
                    <input required="" type="email" name="email" id="email" value="<%= barbeiro.email %>" />
                    <label for="email">Email</label>
                  </div>
  
                  <div class="input-field" hidden>
                    <input type="password" name="senha" id="senha" />
                    <label for="senha" style="transform: translateY(-51%) translateX(-40px) scale(0.8);">Senha (deixe vazio para não alterar)</label>
                  </div>
                  
              </div><!--campos-cadastro-->
            </div><!--form-esquerda-->

            <div class="form-direita">

              <div class="heading efeito-heading-form" style="margin-bottom: -3%;">Horários de Disponibilidade</div>
              
              <table class="efeito-btn1-form">
                <thead>
                  <tr>
                    <th>Dia da Semana</th>
                    <th>Trabalha?</th>
                    <th>Hora Início</th>
                    <th>Hora Fim</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i=0; i <=6; i++) { const horario=horarios.find(h=> h.dia_semana === i);%>
                    <tr>
                      <td class="dias"><%= ['Segunda', 'Terça' , 'Quarta' , 'Quinta' , 'Sexta' , 'Sábado' , 'Domingo' ][i] %></td>
                      <td><label><input class="check-dia" type="checkbox" name="dia_trabalho_<%= i %>" <%= horario ? 'checked' : '' %>><span></span></label></td>
                      <td><input type="time" name="hora_inicio_<%= i %>" value="<%= horario ? horario.hora_inicio : '' %>"></td>
                      <td><input type="time" name="hora_fim_<%= i %>" value="<%= horario ? horario.hora_fim : '' %>">
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>

              <div class="btn-container efeito-btn-form" style="margin-top: -5%;">
                <button class="btn" type="submit">Salvar Alterações</button>
              </div>
            </div><!--form-direita-->

            </form>

            </div><!--container-->

        </div><!--flex-->
      </div><!--interface-->

    </section>

    <%- include ("../partials/footer-manager.ejs") %>
  </main>

  <script src="/css/partials/header/header.js"></script>
</body>
</html>