<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

  <link rel="stylesheet" href="/css/pages/desktop/index.css">
  <link rel="stylesheet" href="/css/animations/animations-txt.css">
  <link rel="stylesheet" href="/css/buttons/btns-home.css">
  <link rel="stylesheet" href="/css/buttons/btn-list.css">
  <link rel="stylesheet" href="/css/pages/desktop/ver-barbeiros.css">
  <link rel="stylesheet" href="/css/pages/responsivo/resp-ver-barbeiros.css">
  <link rel="stylesheet" href="/css/partials/modal/modal-excluir.css">

  <script src="/css/partials/header/menu-mobile.js" defer></script>
  <script src="/css/partials/modal/modal.js" defer></script>
  
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="/css/partials/reveal/reveal.js" defer></script>
  <title>Visualizar Barbeiros - And Barbershop</title>
</head>

<body>
  <%- include ("../partials/header-admin.ejs") %>
    <main>

      <section class="ver-barbeiros">
        
        <div class="interface">
          <div class="flex">
          

              <div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
                <h1>Barbeiros <span>And Barbershop</span></h1>

                <div class="btn-agendar">
                  <a href="/cadastrobarbeiro">
                    <button class="btn-agendar-agora" style="font-size: 12px; width: 170px;">Cadastar Novo
                      Barbeiro</button>
                  </a>
                </div><!--btn-agendar-->
              </div><!--txt-topo-site-->

              <div class="container efeito-container-list">
                <ul>
                  <% barbeiros.forEach((barbeiro)=> { %>
                    <li class="efeito-card-servico-<%= barbeiro.id_barber %>">
                      <div class="img-conta">
                        <% if (barbeiro.imagem) { %>
                            <img class="img-barbeiro" src="/uploads/<%= barbeiro.imagem %>" alt="Foto do Barbeiro">
                        <% } else { %>
                            <img src="/css/imgs/elementos/nav-icon-user.png" alt="Foto Usuário">
                        <% } %>
                    </div>
                      <div class="title">
                        <a class="nome" value="<%= barbeiro.id_barber %>"><%= barbeiro.nome %>&nbsp;<%= barbeiro.sobrenome %></a><br>
                      </div>

                      <div class="informacoes">
                        <a class="email"><i class="bi bi-envelope-at"></i><%= barbeiro.email %></a><br>
                        <a class="dias"><i class="bi bi-calendar-week"></i>Dias Trabalhados:</a>
                      </div>
                      
                      <div class="btns-container">

                        <a href="editarbarbeiro/<%= barbeiro.id_barber %>/<%= encodeURIComponent(barbeiro.nome) %>">
                          <button class="btn-editar"><i class="bi bi-pencil-fill"></i>Editar</button>
                        </a>  

                        <button class="btn-deletar" id="abre-modal-<%= barbeiro.id_barber %>">
                        <i class="bi bi-trash-fill"></i>Deletar</button>

                        </div>

                            <dialog id="modal-<%= barbeiro.id_barber %>">
                                <div class="content">
                                  </form>
                                    <form method="POST" action="/deletabarbeiro">
                                        <h1>Essa ação tem um resultado irreversível. Tem certeza que deseja o Barbeiro <%= barbeiro.nome %> <%= barbeiro.sobrenome %>?</h1>

                                            <input type="hidden" name="id" value="<%= barbeiro.id_barber %>" />                                        <div class="btn-container">
                                            <button type="submit" class="btn-deletar" style="width: 200px;">
                                                Sim, Excluir!</button>

                                    </form>

                                    <button type="button" class="btn" id="btn-fecha-modal"
                                    onclick="document.getElementById('modal-<%= barbeiro.id_barber %>').close();"
                                    style="width: 120px;">Cancelar</button>
                                    </div>
                                </div>
                        </dialog>

                        <script>
                          document.getElementById("abre-modal-<%= barbeiro.id_barber %>").addEventListener("click", function () {
                            document.getElementById("modal-<%= barbeiro.id_barber %>").showModal();
                          });
                        </script>

                    </li>
                    <% }); %>
                  </div><!--container-->
                </ul>
  
          </div><!--flex-->
        </div><!--interface-->
      </section>

      <%- include ("../partials/footer-manager.ejs") %>
    </main>
    <script src="/css/partials/header/header.js"></script>

</body>

</html>