<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

    <link rel="stylesheet" href="/css/pages/desktop/index.css">
    <link rel="stylesheet" href="/css/animations/animations-txt.css">
    <link rel="stylesheet" href="/css/buttons/btns-home.css">
    <link rel="stylesheet" href="/css/buttons/btn-list.css">
    <link rel="stylesheet" href="/css/pages/desktop/ver-feedbacks.css">
    <link rel="stylesheet" href="/css/pages/responsivo/resp-ver-feedbacks.css">

    <script src="/css/partials/header/menu-mobile.js" defer></script>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/css/partials/reveal/reveal.js" defer></script>
    <title>Visualizar Feedbacks - And Barbershop</title>
</head>

<body>
    <%- include ("../partials/header-admin.ejs") %>
        <main>

            <section class="ver-feedbacks">
                
            <div class="interface">
                <div class="flex">

                        <div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
                            <h1>Feedbacks <span>And Barbershop</span></h1>
                        </div><!--txt-topo-site-->

                        <div class="container efeito-container-list">
                            <ul>
                                <% if(feedbacks.length==0){ %>
                                    <li class="li-aviso">
                                        <div class="aviso">
                                            <h1>Nenhuma Feedback foi enviado.</h1>
                                        </div>
                                    </li>
                                    <% } else { feedbacks.forEach(feedback=> {%>
                                        <li class="efeito-feedback-list">

                                            <div class="title-feedback">

                                                <div class="nome-com-estrelas">
                                                    <a class="nome-feed" value="<%= feedback.id %>">
                                                        <i class="bi bi-person-fill"></i><%= feedback.cliente.nome %>
                                                    </a>
                                                </div>

                                                <div class="estrelas-feed">
                                                    <% for(let i=1; i <=5; i++) { %>
                                                        <i class="bi bi-star-fill<%= i <= feedback.avaliacao ? ' gold' : '' %>"></i>
                                                        <% } %>
                                                </div><!--estrelas-feed-->

                                            </div><!--title-feedback-->

                                            <a class="comentario-feed">"<%= feedback.comentario %>"</a>
                                            <a class="data-feed"><i class="bi bi-calendar-week"></i>
                                                <%= feedback.data_feedback.toLocaleString('pt-BR', { day: '2-digit' ,
                                                    month: '2-digit' , year: 'numeric' }) %>
                                            </a>

                                        </li>
                                        <% })} %>


                        </div><!--container-->
                        </ul>

                    </div><!--flex-->
                </div><!--interface-->
            </section>

            <%- include ("../partials/footer-manager.ejs") %>
        </main>
        <script src="/css/partials/header/header.js"></script>

</body>

</html>