<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <link rel="icon" href="/css/imgs/logo/aba-logo-and.png" sizes="16x16">

  <link rel="stylesheet" href="/css/pages/desktop/index.css">
  <link rel="stylesheet" href="/css/animations/animations-txt.css">
  <link rel="stylesheet" href="/css/animations/animations-img.css">
  <link rel="stylesheet" href="/css/buttons/btns-home.css">
  <link rel="stylesheet" href="/css/buttons/btn-list.css">
  <link rel="stylesheet" href="/css/pages/desktop/ver-tarefa.css">
  <link rel="stylesheet" href="/css/pages/responsivo/resp-ver-tarefa.css">

  <script src="/css/partials/header/menu-mobile.js" defer></script>
  
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="/css/partials/reveal/reveal.js" defer></script>
  <title>Lista de Tarefas - And Barbershop</title>
</head>

<body>
  <%- include ("../partials/header-admin.ejs") %>
    <main>

      <section class="ver-tarefa">
        <div class="interface">
        <div class="flex">

            <div class="txt-topo-site efeito-frase-topo"><!--ARRUMAR RESPONSIVO-->
              <h1>Tarefas <span>And Barbershop</span></h1>
              <div class="btn-agendar efeito-btn-topo">
                <a href="/tarefas/criar">
                  <button class="btn-agendar-agora" style="font-size: 12px; width: 170px;">Cadastrar Nova Tarefa</button>
                </a>
              </div><!--btn-agendar-->
            </div><!--txt-topo-site-->

            <div class="container efeito-container-agendamentos">
              <ul>
                <% if (tarefas && tarefas.length> 0) { %>
                  <% tarefas.forEach(tarefa=> { %>
                    <li class="efeito-card-servico-<%= tarefa.id %>">
                      <a class="title">Título: <%= tarefa.nome %></a>
                      <a class="desc"><strong>Descrição:</strong> <%= tarefa.descricao %></a>

                      <div class="info-datas">
                      
                      <div class="inicio">
                      <a class="data">Data de Início:</a><br>
                        <a class="data dia"> <%= tarefa.dataInicio.toLocaleString('pt-BR', { day: '2-digit' , month: '2-digit' ,
                        year: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %></a>
                      </div>

                      <div class="termino">
                        <a class="data">Data de Término:</a><br>
                        <a class="data dia"> <%= tarefa.dataTermino.toLocaleString('pt-BR', { day: '2-digit' , month: '2-digit' ,
                          year: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %></a>
                      </div>

                    </div><!--info-datas-->
                      
                      <a class="status"><strong>Status:</strong> <%= tarefa.status %></a>
      
                      <div class="btn-container">
                                <% if (tarefa.status !=='Concluída' ) { %>
                                  <form action="/tarefas/status/<%= tarefa.id %>/concluir" method="POST"
                                    style="display:inline;">
                                    <button class="btn-finalizar" type="submit" 
                                    style="padding: 4px 3%; font-size: 12px;">
                                    <i class="bi bi-clipboard2-check-fill"></i>Concluir</button>
                                  </form>
                                  <% } %>

                                    <% if (tarefa.status !=='Cancelada' ) { %>
                                      <form action="/tarefas/status/<%= tarefa.id %>/cancelar" method="POST"
                                        style="display:inline;">
                                        <button class="btn-deletar" type="submit" 
                                        style="padding: 4px 3%;">
                                        <i class="bi bi-trash-fill"></i>Deletar</button>
                                      </form>
                                      <% } %>
                        </div>

                    </li>
                    <% }) %>
                      <% } else { %>
                        <li class="li-aviso efeito-card-plano">
                          <div class="aviso">
                            <h1>Nenhuma Tarefa foi cadastrada.</h1>
                          </div>
                        </li>
                        <% } %>

            </div><!--container-->
            </ul>

          </div><!--flex-->
        </div><!--interface-->
      </section>

      <%- include ("../partials/footer-manager.ejs") %>
    </main>
    <script src="/css/partials/header/header.js"></script>
</body>

</html>